*
{
        font-family: Verdana, Arial;
        padding: 0;
        margin: 0;
}

h3
{
        border: 0px solid black;
        margin: 1em 0em;

}

table, td, th 
{
        border: 2px solid grey;
        padding:0.5em 1em;
        border-collapse: collapse;   
}
